<ion-header>
    <ion-toolbar class="rednav">
      <ion-title class="title">
        Authentication
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!--
  <ion-content>
    
    <ion-item>
      <ion-label>Register</ion-label>
      <ion-input placeholder="email" [(ngModel)]="userToRegister.email"></ion-input>
      <ion-input placeholder="password" [(ngModel)]="userToRegister.password"></ion-input>
      <ion-button (click)="tryRegister()">register user</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Login</ion-label>
      <ion-input placeholder="email" [(ngModel)]="userToLogin.email"></ion-input>
      <ion-input placeholder="password" [(ngModel)]="userToLogin.password"></ion-input>
      <ion-button (click)="tryLogin()">login</ion-button>
    </ion-item>
 

  <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input placeholder="Your email address" [(ngModel)] = "userToRegister.email"></ion-input>
    </ion-item>
    
  </ion-content>
-->
<ion-content padding class="bgred">
    
  <!-- INPUTS -->
  <ion-label stacked>Email</ion-label>
  <ion-input placeholder="Your email address" [(ngModel)]="userToLogin.email"> </ion-input>

  <ion-label stacked>Password</ion-label>
  <ion-input  placeholder="Your password" [(ngModel)] = "userToLogin.password"> </ion-input>

  <!-- BUTTONS -->
  <ion-button class="blackbtn" expand = "full"  (click)="tryLogin()">
      Log In
  </ion-button>
  
  <ion-button class="blackbtn" expand = "full" (click)="goToSignup()">
    Create a new account
  </ion-button>

  <ion-button class="blackbtn" block expand = "full">
    I forgot my password :(
  </ion-button>
</ion-content>
