<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Update Information | </ion-label>
    <ion-label> Name: </ion-label>
    <ion-input placeholder="Name" [(ngModel)]="userToUpdate.name"></ion-input>
    <ion-label>Age: </ion-label>
    <ion-input placeholder="Age" [(ngModel)]="userToUpdate.age"></ion-input>
    <ion-label>Weight (lbs): </ion-label>
    <ion-input placeholder="Weight" [(ngModel)]="userToUpdate.weight"></ion-input>
    <ion-label>Height (inches): </ion-label>
    <ion-input placeholder="Height" [(ngModel)]="userToUpdate.height"></ion-input>
    <ion-label> Activity Level (1-5):  </ion-label>
    <ion-input placeholder="" [(ngModel)]="userToUpdate.activitylevel"></ion-input>
    <ion-button (click)="updateUserInfo()">confirm</ion-button>
    
  </ion-item>
  <div>-------------</div>
  <div>User Information</div>
  <div>-------------</div>
  <div>Eamil: {{updatedUser.email}}</div>
  <div>Name: {{updatedUser.name}}</div>
  <div>Age: {{updatedUser.age}}</div>
  <div>Weight: {{updatedUser.weight}}</div>
  <div>Height: {{updatedUser.height}}</div>
  <div>Activity Level: {{updatedUser.activitylevel}}</div>
  <ion-button (click)="logOut()">Log Out</ion-button>
</ion-content>
